<html>
<head>
<title>Twitter App</title>
<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="jscss/style.css" />
</head>
<body>
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<ul class="nav">
<li id="menu-feed" class="menuitem active"><a href="#feed">Feeds</a></li>
<li id="menu-profile" class="menuitem"><a href="#profile">Profile</a></li>
</ul>
<button id="logoutButton" class="btn btn-danger"><i class="icon-off icon-white"></i> Logout</button>
<input type="text" id="searchBox" class="search-query" placeholder="Search..." />
</div>
</div>
</div>
<div id="ticker"></div>
<div id="content-wrapper">

    <!-- feed -->
    <div id="tab-feed" class="sector">
        <div id="dashboard">
            <div class="brick">Dashboard</div>
            <div class="brick">Brick 2</div>
        </div>
        <div id="content-feed">
            <div class="brick">
                <div class="tweetBoxContainer">
                    <h3 style="display:none">Write a tweet:</h3>
                    <textarea id="tweetBox" placeholder="Wassup?"></textarea>
                    <div style="display:none">
                        <button id="postBtn" class="btn btn-primary">Post</button>
                        <button id="clearBtn" class="btn">Clear</button>
                    </div>
                </div>
                <hr/>
                <h2>Tweets feed:</h2>
                <div id="feedContainer" class="tweetsContainer">
                </div>
                <div class="clearer"></div>
            </div>
        </div>
    </div>

    <!-- profile -->
    <div id="tab-profile" class="sector">
        <div id="content-profile">
            <div class="brick">
                <button class="btn btn-primary btn-large" id="followButton" style="float:right;display:none;">Follow</button>
                <button class="btn btn-primary btn-large" id="unfollowButton" style="float:right;display:none;">UnFollow</button>
                Username: <span id="profile-username"></span><br/>
                EmailId: <span id="profile-emailid"></span><br/>
                Followers count: <span id="profile-followers-count"></span><br/>
                Following count: <span id="profile-following-count"></span><br/>
            </div>
            <div class="brick">
                <h2>Tweets feed:</h2>
                <div id="tweetContainer" class="tweetsContainer">
                </div>
                <div class="clearer"></div>
            </div>
        </div>
    </div>

    <div id="tab-search" class="sector">
        <div class="brick">
            <h2>Search results for: <span id="search-query"></span></h2>
            Found <span id="search-count">0</span> users
            <hr/>
            <div id="searchContainer"></div>
        </div>
    </div>

    <div class="clearer"></div>
</div>

<script src="jscss/jquery.js"></script>
<script src="jscss/underscore.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="jscss/script.js"></script>
<script type="text/html" id="tmpl-tweet">
    <div class="tweet listing" id="<%=tweetid%>" style="display:none">
        <span class="user"><a href="#profile/<%=userid%>" onclick="showProfile(<%=userid%>);"><%=username%></a></span><span class="timestamp" ref="<%=timestamp%>"></span> <br/>
        <%=tweet%>
    </div>
</script>
<script type="text/html" id="tmpl-user">
    <div class="listing" id="<%=searchid%>" style="display:none;">
        <span class="user"><a href="#profile/<%=userid%>" onclick="showProfile(<%=userid%>);"><%=username%></a> </span>
        <span class="email"> EmailId: <%=emailid%></span><br/>
        <span class="followers">
            Followers:
        <% _.each(followers, function(follower) { %>
            <a href="#profile/<%=follower['userid']%>" onclick="showProfile(<%=follower['userid']%>);"><%=follower['username']%></a>,
        <% }); %>
        </span>
    </div>
</script>
</body>
</html>
