body {
    background: url('../img/pattern1.gif');
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#content-wrapper {
    background: rgba(10,10,10,0.8);
    padding: 60px 25px;
    width: 900px;
    height: 100%;
    margin: 0px auto;
    text-align: left;
}
#dashboard {
    float: left;
    width: 300px;
}
#content-main {
    float: right;
    width: 600px;
}
.brick {
    margin: 10px;
    padding: 10px;
    border-radius: 20px 7px;
    background: white;
}
#content-main .brick {
    padding: 20px;
}
#searchBox {
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 0px;
}
